<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>生徒会予定確認アプリ</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=1.1">
</head>
<body class="top-bg">
  <h1 class="top-title">今月・来月の予定</h1>

  <form action="/view_month" method="POST">
    <select name="month_file" class="select-action">
      <br><br>
      <option value="">月を選択してください</option>

      {% for month in months %}
        <option value="{{ month }}">{{ month }}</option>
      {% endfor %}

    </select> 



    <button type="submit" class="select-action">表示する</button>
  </form>




</body>
</html>
